export(algnaive12,derivcormatrix,derivQfun,distmatrix,localinfmeas,predgraphics,predSCL,rspacens,SAEMSCL,Seminaive)
importFrom(graphics,plot)
importFrom(stats,optimize)
importFrom(geoR,varcov.spatial,as.geodata,likfit,krige.control,krige.conv,output.control)
importFrom(mvtnorm,dmvnorm,pmvnorm,rmvnorm,GenzBretz)
importFrom(optimx,optimx)
importFrom("tlrmvnmvt","pmvn.genz","pmvt.genz")
importFrom(tmvtnorm,rtmvnorm)
importFrom(msm,rtnorm)
importFrom(psych,tr)
importFrom(numDeriv,grad,hessian)
importFrom(raster,raster,minValue,maxValue,"extent<-")
importFrom(moments,skewness)
importFrom("grDevices", "dev.new", "terrain.colors")
importFrom("graphics", "abline", "par", "text")
importFrom("stats", "runif", "sd", "var")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom(lattice,levelplot,trellis.focus,lpoints,ltext,trellis.unfocus)
importFrom("grDevices", "x11")
